{% extends 'core/base.html' %}

{% block content %}

    <div class="container-fluid mb-4">
        <!-- Hero Content -->
        <div class="row bg-dark p-4 border-top border-bottom">
            <div class="col-sm-8 offset-sm-2">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2 class="text-center display-1">İletişim Bilgilerimiz</h2>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro ab libero
                        inventore
                        ducimus, ex eligendi cumque adipisci, quas itaque, quasi quam id laboriosam nulla! Esse
                        assumenda doloribus
                        autem delectus? Illum?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="row g-3">
            <div class="col-sm-12">
                <label for="inputEmail4" class="form-label">Email Adresinizi Giriniz</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-sm-12">
                <label for="exampleFormControlTextarea1" class="form-label">Açıklama</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            <div class="col-sm-12">
                <label for="inputState" class="form-label">Bize Nasıl Ulaştınız?</label>
                <select id="inputState" class="form-select">
                    <option selected>Seçiniz</option>
                    <option>Sosyal Medya</option>
                    <option>Google</option>
                    <option>Referans</option>
                    <option>Arkadaş Tavsiyesi</option>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>
        </form>
    </div>

    <!-- Hero Content END-->

 {% endblock %}