{% extends 'core/base.html' %}

{% block title %} Vizyonumuz {% endblock title %}

{% block container-fluid %}
  <div class="container-fluid mb-4">
    <!-- Hero Content -->
   {% include 'page/components/hero_components.html' with hero_title=page_title %} 
  </div>
  {% endblock container-fluid %}
  
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <h2 class="text-center">
        Vizyonumuz
      </h2>
      <hr>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. At provident ea possimus ratione dicta exercitationem deserunt tempore, id obcaecati ipsa?</p>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. At provident ea possimus ratione dicta exercitationem deserunt tempore, id obcaecati ipsa?</p>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. At provident ea possimus ratione dicta exercitationem deserunt tempore, id obcaecati ipsa?</p>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. At provident ea possimus ratione dicta exercitationem deserunt tempore, id obcaecati ipsa?</p>
        <ul clas="d">
          <li>Lorem, ipsum.</li>
          <li>Laudantium, dicta.</li>
          <li>Sapiente, nobis?</li>
          <li>Repudiandae, nobis!</li>
          <li>Ipsum, quia!</li>
        </ul>
      </div>
     </div>
  </div>
  <!-- Hero Content END-->

{% endblock %}

